// Colour Scheme
$background: #f0f1f4;
$content-background: #ffffff;
$dark: #484d5e;
$dark-foreground: #c3cced;
$dark-foreground-bright: #ffffff;
$highlight: #7b7de5;
$base-font-colour: #878da1;

// Layout
$header-height: 5em;

$nav-width-minimised: 5.5em;
$nav-width-normal: 12em;

$sub-nav-width: 11em;

$main-content-padding: 2em;